body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
<<<<<<< HEAD
    display: table-cell;
=======
    display: table;
>>>>>>> created gh-pages branch and added index.html file
}

.status {
    margin-bottom: 10px;
}

.square {
<<<<<<< HEAD
    background: rgb(223, 216, 216);
    border: 2px solid rgb(10, 4, 4);
    float: left;
    font-size: 19vmin;
    font-weight: bold;
    line-height: 1vh;
    height: 25vmin;
=======
    background: red;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
>>>>>>> created gh-pages branch and added index.html file
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
<<<<<<< HEAD
    width: 25vmin;
=======
    width: 34px;
>>>>>>> created gh-pages branch and added index.html file
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    background: rgb(82, 83, 83);
    justify-content: center;
    align-items: flex-start;
    height: 95vh;
    width: 95vw;
}

.game-info {
    margin: 2em;
    background: #999;


}

.game-board {
    margin: 1em;
    border: 1em;
    white-space: nowrap;
    box-sizing: border-box;

}
=======
}

.game-info {
    margin-left: 20px;
}
>>>>>>> created gh-pages branch and added index.html file
